# Importing Data & Libraries

In [3]:
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

appearances_df = pd.read_csv("C:/Users/Louis/Desktop/3°Anno/IUM/Progetto/FootballData/appearances.csv")

# Data Preparation

In [4]:
appearances_df.shape

(1507351, 13)

# Data Analysis & Visualization

In [5]:
appearances_df.head(10)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
5,2234421_146889,2234421,146889,195,190,2012-07-05,Peter Ankersen,ELQ,1,0,0,0,90
6,2235539_28716,2235539,28716,282,7185,2012-07-05,Adi Adilovic,ELQ,0,0,0,0,90
7,2235539_69445,2235539,69445,282,19771,2012-07-05,Ivan Sesar,ELQ,1,0,0,1,90
8,2235545_19409,2235545,19409,317,200,2012-07-05,Willem Janssen,ELQ,0,0,0,0,45
9,2235545_30003,2235545,30003,317,317,2012-07-05,Wout Brama,ELQ,0,0,0,0,90

In [6]:
appearances_df = appearances_df.set_index('appearance_id')
appearances_df.head(10)

,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
appearance_id,,,,,,,,,,,,
2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
2234421_146889,2234421,146889,195,190,2012-07-05,Peter Ankersen,ELQ,1,0,0,0,90
2235539_28716,2235539,28716,282,7185,2012-07-05,Adi Adilovic,ELQ,0,0,0,0,90
2235539_69445,2235539,69445,282,19771,2012-07-05,Ivan Sesar,ELQ,1,0,0,1,90
2235545_19409,2235545,19409,317,200,2012-07-05,Willem Janssen,ELQ,0,0,0,0,45
2235545_30003,2235545,30003,317,317,2012-07-05,Wout Brama,ELQ,0,0,0,0,90

In [7]:
appearances_df.isna().sum()

# alcuni nomi mancano, ma i player_id sono sempre presenti
# si potrebbe inserire i nomi dei giocatori, prendendoli da un altro csv, utilizzando il loro id come controllo (?)

game_id                     0
player_id                   0
player_club_id              0
player_current_club_id      0
date                        0
player_name               324
competition_id              0
yellow_cards                0
red_cards                   0
goals                       0
assists                     0
minutes_played              0
dtype: int64

In [22]:
players_df = pd.read_csv("C:/Users/Louis/Desktop/3°Anno/IUM/Progetto/FootballData/players.csv")

players_df_subset = players_df[['player_id', 'name']]
players_df_subset
new_app_df = pd.merge(appearances_df, players_df_subset, on = 'player_id', how = 'left')

new_app_df['player_name'] = new_app_df['player_name'].fillna(new_app_df['name'])

nan_rows = new_app_df[new_app_df.isna().any(axis=1)]
nan_rows

,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played,name
268984,2464775,14280,3327,-1,2014-08-17,NaN,PO1,1,0,0,0,90,NaN
268990,2464775,192599,3327,-1,2014-08-17,NaN,PO1,0,0,0,0,45,NaN
268991,2464775,194603,3327,-1,2014-08-17,NaN,PO1,1,0,0,0,90,NaN
268996,2464775,33235,3327,-1,2014-08-17,NaN,PO1,0,0,0,0,58,NaN
268997,2464775,35246,3327,-1,2014-08-17,NaN,PO1,0,0,0,0,90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498472,4120668,834898,60551,60551,2023-11-06,Victinho,UKR1,0,0,0,0,10,NaN
1501995,4098109,541020,200,200,2023-11-12,Yannick Leliendal,NL1,0,0,0,0,45,NaN
1502615,4120679,834898,60551,60551,2023-11-12,Victinho,UKR1,0,0,0,0,17,NaN
1505315,4098055,541020,200,200,2023-11-26,Yannick Leliendal,NL1,1,0,0,0,45,NaN
1506322,4120684,834898,60551,60551,2023-11-27,Victinho,UKR1,0,0,0,0,12,NaN

In [8]:
appearances_df.loc[appearances_df.duplicated()]

Empty DataFrame
Columns: [game_id, player_id, player_club_id, player_current_club_id, date, player_name, competition_id, yellow_cards, red_cards, goals, assists, minutes_played]
Index: []